<md-content layout="column" class="md-padding">
  <form name="form" ng-submit="register()">
    <md-input-container flex>
      <label>Email</label>
      <input required ng-model="user.email" name="email" type="email">
      <div ng-show="form.email.$dirty" ng-messages="form.email.$error">
        <div ng-message="required">Email is required</div>
        <div ng-message="email">Has to be a valid email</div>
      </div>
    </md-input-container>
    <md-input-container flex>
      <label>Password</label>
      <input ng-minlength="5" required ng-model="user.password" name="password" type="password">
      <div ng-show="form.password.$dirty" ng-messages="form.password.$error">
        <div ng-message="required">Password is required</div>
        <div ng-message="minlength">Your password is too short</div>
      </div>
    </md-input-container>
    <md-input-container flex>
      <label>First Name</label>
      <input required ng-model="user.firstName" name="firstName">
      <div ng-show="form.firstName.$dirty" ng-messages="form.firstName.$error">
        <div ng-message="required">First name is required</div>
      </div>
    </md-input-container>
    <md-input-container flex>
      <label>Last Name</label>
      <input required ng-model="user.lastName" name="lastName" type="lastName">
      <div ng-show="form.lastName.$dirty" ng-messages="form.lastName.$error">
        <div ng-message="required">Last name is required</div>
      </div>
    </md-input-container>
    <md-select placeholder="Sex" ng-model="user.sex">
      <md-option value="0">Male</md-option>
      <md-option value="1">Female</md-option>
    </md-select>
    <section layout="row" layout-sm="column" layout-align="center center">
      <md-button class="md-primary">Register</md-button>
    </section>
  </form>
<md-content>
